<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VideoImagePlatform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
</head>
<body>
    <div id="header">
        <a id="logoName" asp-action="Index" asp-controller="Home">
            <img id="logo" src="~/imgs/person.png" alt="VideoImage platform logo" asp-append-version="true">
            <h1>MojitoTube</h1>
        </a>
        <div id="search">

            <input type="text" name="searchInput" id="searchInputId" value="Search" onclick="clearSearch(this)">
            <img src="~/imgs/plus.png" alt="Search icon" onclick="" asp-append-version="true">
        </div>
        <div id="login">
            <a>Log in</a>
            <a>Sign in</a>
        </div>
    </div>

    <div id="main">
        <div id="options">
            <ul>
                <li id="videos">
                    <a asp-action="Index" asp-controller="Videos">
                        <img src="~/imgs/video.png" alt="Videos" asp-append-version="true">
                        <h3>Videos</h3>
                    </a>

                </li>
                <li id="photos">
                    <a asp-action="Index" asp-controller="Images">
                        <img src="~/imgs/gallery.png" alt="Photos" asp-append-version="true">
                        <h3>Photos</h3>
                    </a>
                </li>
                <li id="favourites">
                    <a onclick="Toggle('Favourites')">
                        <img src="~/imgs/heart.png" alt="Favourites" asp-append-version="true">
                        <h3>Favourites</h3>
                    </a>
                </li>
            </ul>
        </div>
        <div id="dynamicContent">
            @RenderBody()
        </div>
    </div>

    <div id="footer">
        <div id="links1">
            <a asp-controller="Home" asp-action="Index">Home page</a>
            <a>Best list</a>
            <a>Favourites</a>
            <a>Log in</a>
            <a>Sing in</a>
            <h1>Author</h1>
            <a href="https://github.com/mietoprogramming">MietoProgramming</a>
        </div>
        <div id="links2">
            <a target="_blank" href="https://icons8.com/icons/set/settings">settings icon</a>
            <a target="_blank" href="https://icons8.com/icons/set/hd-720p">hd 720p icon</a>
            <a target="_blank" href="https://icons8.com/icons/set/stack-of-photos">photo gallery icon</a>
            <a target="_blank" href="https://icons8.com/icons/set/minus">minus icon</a>
            <a target="_blank" href="https://icons8.com/icons/set/plus">plus icon</a>
            <a target="_blank" href="https://icons8.com/icons/set/comments">comments icon</a>
            <a target="_blank" href="https://icons8.com/icons/set/upload">upload icon</a>
            <a target="_blank" href="https://icons8.com/icons/set/person-male">person icon</a>
            <a target="_blank" href="https://icons8.com/icons/set/hearts">heart outline icon</a>
            <a target="_blank" href="https://icons8.com"> icons by icons8</a>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
