<div id="contentIndex">
    @for (int i = 0; i < 12; i++)
    {
        <a id="card">
            <img src="~/imgs/thumbnail.jpg" alt="Miniaturka" asp-append-version="true">
            <div id="ContentDescribe">
                <h3>Really loooong title of that video oooooo really @i</h3>
                <p>Views: @((i+1).ToString() + "00 000")</p>
            </div>
        </a>
    }
</div>
