

<div id="options">
    <ul>
        <li id="videos">
            <a>
                <img src="~/imgs/video.png" alt="Videos" asp-append-version="true">
                <h3>Videos</h3>
            </a>

        </li>
        <li id="photos">
            <a>
                <img src="~/imgs/gallery.png" alt="Photos" asp-append-version="true">
                <h3>Photos</h3>
            </a>
        </li>
        <li id="favourites">
            <a>
                <img src="~/imgs/heart.png" alt="Favourites" asp-append-version="true">
                <h3>Favourites</h3>
            </a>
        </li>
    </ul>
</div>

<div id="content">
        <div>
            <a>
                @*<img src="" alt="Miniaturka" asp-append-version="true">*@
            </a>
            <hr>
            <h3>Title of a video</h3>
            <p>Views: 123456</p>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
</div>
