<div id="content">
    @for (int i = 0; i < 6; i++)
    {
        <div>
            <a>
                <img src="~/imgs/thumbnail.jpg" alt="Miniaturka" asp-append-version="true">
            </a>
            <hr>
            <div id="ContentDescribe">
                <h3>Title of a video @i</h3>
                <p>Views: @((i+1).ToString() + "00 000")</p>
            </div>
        </div>
    }
</div>
