#contentIndex {
    float: left;
    width: 100%;
    height: 100%;
    background-color: #1a1c1a;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

#card {
    width: 100%;
    display: block;
}

#contentIndex img, #contentIndex video {
    width: 100%;
    height: auto;
    padding: 3% 3% 0% 8%;
}

#ContentDescribe {
    margin-top: 4%;
    border-top: 1px solid;
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: 68% 32%;
    grid-template-areas: "a b";
    color: #e65c00;
}

#ContentDescribe h3 {
    padding-left: 3%;
    grid-area: a;
    font-size: 18px;
}

#ContentDescribe p {
    text-align: right;
    grid-area: b;
    padding-right: 1%;
}

#search {
    cursor:pointer;
}
